.footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.inputContainer {
  flex: 0 0 auto;
  margin-right: 20px;
  min-width: 150px;
}

.label {
  margin-bottom: 3px;
  font-weight: bold;
}

.importButtonContainer {
  display: flex;
  align-items: flex-end;
}

.importButton {
  composes: button from '~Components/Link/SpinnerButton.css';
  height: 35px;
  margin-right: 10px;
}

.errorMessage {
  margin-right: 10px;
  color: var(--dangerColor);
  align-self: center;
}

.selectInput {
  composes: select from '~Components/Form/SelectInput.css';
  width: auto;
  min-width: 120px;
}

.matchCell {
  display: flex;
  align-items: center;
}

.authorName {
  font-weight: bold;
  margin-right: 5px;
}

.bookTitle {
  color: var(--themeLightColor);
}

.warningIcon {
  margin-right: 5px;
  color: var(--warningColor);
}

.existingBadge {
  margin-left: 5px;
  padding: 1px 5px;
  font-size: 11px;
  border-radius: 3px;
  background-color: var(--warningColor);
  color: var(--white);
}

@media only screen and (max-width: $breakpointSmall) {
  .dropdownContainer {
    display: block;
  }

  .inputContainer {
    margin-right: 0;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .importButtonContainer {
    margin-top: 10px;
  }
}
