.inputContainer {
  margin-right: 20px;
  min-width: 150px;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
}

.bulkSelect {
  composes: select from '~Components/Form/SelectInput.css';
  width: auto;
}

.importButtonContainer {
  display: flex;
  align-items: center;
}

.importButton {
  composes: button from '~Components/Link/SpinnerButton.css';
  height: 35px;
}

.errorMessage {
  margin-right: 10px;
  color: var(--dangerColor);
}

@media only screen and (max-width: $breakpointSmall) {
  .inputContainer {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  .importButtonContainer {
    margin-top: 10px;
  }
}
