.path {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 300px;
  word-break: break-all;
}

.qualityProfile,
.metadataProfile,
.monitor {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 150px;
}

.authorBook {
  min-width: 200px;
}
