.header {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
}

.tips {
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--themeDarkColor);
}

.tip {
  margin-top: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  text-align: left;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--themeLightColor);
  border-bottom: 1px solid var(--borderColor);
}

.tableRow {
  cursor: pointer;
  transition: background-color 200ms;
}

.tableRow:hover {
  background-color: var(--tableRowHoverBackgroundColor);
}

.tableCell {
  padding: 12px 15px;
  border-bottom: 1px solid var(--borderColor);
}

.path {
  composes: tableCell;
  font-weight: 500;
  word-break: break-all;
}

.freeSpace {
  composes: tableCell;
  width: 150px;
  white-space: nowrap;
}

.unmappedFolders {
  composes: tableCell;
  width: 160px;
  white-space: nowrap;
}
