.folderPathInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.scanButton {
  margin-left: 10px;
  white-space: nowrap;
}

.recentFoldersContainer {
  margin-bottom: 20px;
}

.filterContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filterText {
  margin-left: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-top: 1px solid var(--borderColor);
  background-color: var(--modalFooterBackgroundColor);
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.leftButtons,
.rightButtons {
  display: flex;
  flex: 1 0 50%;
  flex-wrap: wrap;
  align-items: center;
}

.rightButtons {
  justify-content: flex-end;
}

.importMode,
.bulkSelect {
  composes: select from '~Components/Form/SelectInput.css';
  margin-right: 10px;
  width: auto;
}

.errorMessage {
  margin-right: 10px;
  color: var(--dangerColor);
}

.noResults {
  text-align: center;
  padding: 20px;
}

.deleteButton {
  margin-right: 10px;
}

@media only screen and (max-width: $breakpointSmall) {
  .footer {
    .leftButtons,
    .rightButtons {
      flex-direction: column;
    }

    .leftButtons {
      align-items: flex-start;
    }

    .rightButtons {
      align-items: flex-end;
    }

    a,
    button {
      margin-left: 0;

      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
}
